@import "tailwindcss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }
}

@theme {
  --color-dark-hard: #272727;
  --color-dark-medium: #2c2c2c;
  --color-dark-light: #3a3a3a;
  --color-grey-dark: #a5a5a5;
  --color-grey-medium: #747474;
  --color-grey-light: #d3d3d3e6;
  --color-black: #000000e6;
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #272727;
    --foreground: #d3d3d3e6;
  }
}

body {
  font-family: var(--font-inter);
}
